<%= render "shared/user", user: @user %>

<% if @posts.any? %>
  <% @posts.each_with_index do |post, index| %>
    <a href="/users/<%= post.author_id %>/posts/<%= post.id %>?index=<%= index + 1 %>" class="text-decoration-none">
      <%= render "shared/post", post: post, post_index: index + 1 %>
      <div class="row justify-content-center align-items-center my-1">
         <div class="col-lg-8 col-md-11 col-11 border p-2 ">
            <% if post.comments.any? %>
               <% post.comments.first(3).each do |comment| %>
                  <p><%= comment.user.name %>: <%= comment.text %></p>
               <% end %>
            <% else %>
               <p>No comments yet</p>
            <% end %>
         </div>
      </div>
    </a>  
  <% end %>
<% else %>
  <p>No posts yet</p>
<% end %>

</div>


 
<div class="row justify-content-center align-items-center my-1">

  <div class=" col-2">
    <%= will_paginate @posts %>
  </div>

</div>

