<div class="row mx-lg-4 m-md-3 m-lg-2 m-1 justify-content-center align-items-center ">
  <div class="col-lg-8 col-md-11 col-11 border p-lg-2 p-1">
    <div class="d-flex justify-content-between">
      <h5>Post # <%=  @index %> by <%=  @post.user.name %></h5>
      <p>Comments: <%= @post.comments_counter %> , likes:  <%= @post.likes_counter %></p>
    </div>
    
    <br>
    <p><%= @post.text %></p>
  </div>
</div>
<div class="row mx-lg-4 mx-md-3 mx-lg-2 mx-1 justify-content-center align-items-center ">
  <div class="col-lg-8 col-md-11 col-11 border p-lg-2 p-1">
    <% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
      <p><%= comment.user.name %>: <%= comment.text %></p>
    <% end %>
    <% else %>
      <p>No comments yet</p>
    <% end %>
  </div>
 
</div>
