<div class="row mx-lg-4 m-md-3 m-lg-2 m-1 justify-content-center align-items-center ">
  <div class="col-lg-8 col-md-11 col-11 border p-lg-2 p-1">
    <div class="d-flex justify-content-between">
      <h5><%= @post.title %> by <%=  @post.user.name %></h5>
      <p>Comments: <%= @post.comments_counter %> , Likes:  <%= @post.likes_counter %></p>
    </div>
    
    <br>
    <p><%= @post.text %></p>
  </div>
</div>
<div class="row mx-lg-4 mx-md-3 mx-lg-2 mx-1 justify-content-center align-items-center ">
  <div class="col-lg-8 col-md-11 col-11 border p-lg-2 p-1">
  <% if user_signed_in? %>
   <%= render 'shared/like_form', post: @post, user: @user %>
    <%= render 'shared/comment_form', post: @post, user: @user %>
<% else %>
  <p>Please  <%= link_to "Sign in", new_user_session_path %> to leave a comment and like.</p>
 
<% end %>
    
   
    <div class="my-3">
       
       <% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>

      <% if comment.user %>
      <p><%= comment.user.name %>: <%= comment.text %></p>
      <% if can?(:destroy, comment) %>
        <%= link_to 'Delete', user_post_comment_path(@user, @post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
      <% end %>
    <% end %>
    <% else %>
      <p>No comments yet</p>
    <% end %>
    </div>
   
  </div>
 
</div>